.font-title {
    font-family: 'Oswald', sans-serif !important;
 }

.grow-nav { 
    transition: all .2s ease-in-out; 
    }
    
.grow-nav:hover { 
    transform: scale(1.4); 
    }

.grow-btn { 
    transition: all .2s ease-in-out; 
    }
    
.grow-btn:hover { 
    transform: scale(1.06); 
    }    

.grow-logo { 
    transition: all .4s ease-in-out; 
    }

 .grow-logo .img-fluid {
    border: none;
 }   
    
.grow-logo:hover { 
    transform: scale(1.04); 
    }

 .grow-logo:hover .img-fluid {
    border: 4px solid #0d6efd;
 }

 .grow-card { 
    transition: all .2s ease-in-out; 
    }
    
.grow-card:hover { 
    transform: scale(1.04); 
    }

.grow-card:hover h3 {
    color: #0d82fd;
}
    

